{% extends 'base.html' %}

{% block form %}
   <form method="post" enctype="multipart/form-data">
        <h3><label>Title</label></h3><br>
        <input name="title"><br>
        <h3><label>Text</label></h3><br>
        <input name="text" type="text"><br>
    <hr>
        <input type="file" name="foto"><br>
        <input type="submit" value="Create">
    <hr>
    </form>
{% endblock %}

{% block messages %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock %}

{% block error %}
    {{img}}
{% endblock %}

{% block test %}
    {{anonc}}
{% endblock %}