{% extends 'base.html' %}

{% block title %}
    {{title}}
{% endblock %}

{% block form %}
   <form method="post" enctype="multipart/form-data">
        <h3><label>Chapter</label></h3><br>
        <h5><input type="checkbox" name="chapter" value="purchase">Purchase</h5>
       <h5><input type="checkbox" name="chapter" value="sale">Sale</h5>
        <h3><label>Title</label></h3><br>
        <input name="title"><br>
        <h3><label>Contact details</label></h3><br>
        <input name="contact" type="tel"><br>
        <h3><label>Text</label></h3><br>
       <textarea name="text"></textarea><br>

    <hr>
        <input type="file" name="foto"><br>
        <input type="submit" value="Create">
    <hr>
    </form>
{% endblock %}

{% block messages %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock %}

{% block error %}
    {{img}}
{% endblock %}

{% block test %}
    {{anonc}}
{% endblock %}