{% extends 'base.html' %}

{% block title %}
    {{title}}
{% endblock %}

{% block test %}
    <img src="{{ url_for('static', filename=img.path_img)}}" alt="{{img.path_img}}">
    <h3>{{announcement.title}}</h3>
    <p>{{announcement.text}}</p>
    <h5>{{announcement.contact_details}}</h5>
    <h6>{{announcement.date.strftime('%d-%m-%Y %H:%M')}}</h6><hr>
{% endblock %}

{% block error %}
    <a href="{{ url_for('index_page') }}"><input type="button" value="Back"></a>
    <form method="post">
        <input type="hidden" value="answ">
        <input type="submit" name="answ" value="Doubt">
    </form>
{% endblock %}

{% block messages %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock %}
