<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block nav %}
    <div>
        <nav>
            <a href="{{ url_for('register') }}" >register</a>
            <a href="{{ url_for('login_user_page') }}" >login</a>
            <a href="{{ url_for('user_logout') }}">logout</a>
            <a href="{{ url_for('index') }}">index</a>
            <a href="{{ url_for('secret') }}">secret</a>
        </nav>
    </div>
{% endblock %}
{% block form %}
{% endblock %}

{% block test %}
{% endblock %}

{% block error %}
{% endblock %}

</body>
</html>