<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/stylesheet.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block nav %}
    <nav>
        <div class="nav">
            <div>
                <a href="{{ url_for('index_page') }}">Index</a>
                <a href="{{ url_for('announcement_chapter', chapter='purchase') }}">Purchase</a>
                <a href="{{ url_for('announcement_chapter', chapter='sale') }}">Sale</a>
            </div>
            <div class="nav_user">
                <a href="{{ url_for('register') }}" >Register</a>
                <a href="{{ url_for('login_user_page') }}" >Login</a>
                {% if current_user.login %}
                    <a href="{{ url_for('user_logout') }}">logout</a>
                    <a href="{{ url_for('personal_area') }}">{{current_user.login}}</a>
                    {% if current_user.avatar %}
                        <img src="{{ url_for('static', filename=current_user.avatar) }}">
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </nav>

{% endblock %}

{% block form %}
{% endblock %}

    <div class="anons">
        {% block messages %}
        {% endblock %}
    </div>
{% block test %}
{% endblock %}

{% block error %}
{% endblock %}

</body>
</html>