{% extends 'base.html' %}

{% block title %}
    {{title}}
{% endblock %}

{% block nav %}
          <div class="nav_index">
                <a href="{{ url_for('index_page') }}">Index</a>
                <a href="{{ url_for('admin_user') }}">Admin</a>
                <a href="{{ url_for('admin_user') }}">User</a>
                <a href="{{ url_for('all_admins') }}">Admin user</a>
                <a href="{{ url_for('admin_anons') }}">Announcement</a>
            </div>
{% endblock %}

{% block messages %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock %}


{% block test %}
    <form method="post">
        <input type="submit" value="Delete user" name="del"><hr>
    </form>
    <form method="post">
        <h3><label>Change password user</label></h3>
        <input name="password"><hr>
        <h3><label>Appoint an administrator</label></h3><br>
        <h5><input type="checkbox" name="admin_appoint" value="appoint">Appoint</h5>
        <button type="submit">Change</button><hr>

    </form><hr>
    {%for an in anons %}
        <h4>{{user.login}}</h4>
        <ul>
            <li>{{an.title}}</li>
            <li>{{an.text}}</li>
            <li>{{an.date}}</li>
        </ul>
        <form method="post">
            <input type="hidden" name="del_an" value="{{an.id}}">
            <input type="submit" value="Delete announcement" name="del_anons">
        </form><hr>
    {% endfor %}

{% endblock %}

{% block error %}
{% endblock %}