{% extends 'base.html' %}

{% block form %}
    {% for anonc in announsement %}
        <div>
            <form method="post">
                <h3><label>{{anonc.title}}</label></h3><br>
                <p>{{anonc.text}}</p>
                <input name="change" type="hidden" value="{{anonc.id}}">
                <input type="submit" value="Change">
            </form>

            <form method="post">

                <input name="delete" type="hidden" value="{{anonc.id}}">
                <input name="delete" type="submit" value="Delete">
            </form>

        </div>
    {%endfor%}
{% endblock %}
