{% extends 'base.html' %}

{% block title %}
    {{title}}
{% endblock %}

{% block messages %}

    <div class="an">

        {% for anonc in announcement %}
            <a href="{{url_for('announsement', id_anons=anonc.id)}}" class="index_page"><div class="in_a">

                    <img src="{{ url_for('static', filename=anonc.images_announcements) }}"
                         alt="No images">

                <h2>{{anonc.title}}</h2>
                <p>{{anonc.text[:50]}}</p>
                <h6>{{anonc.date}}</h6>

            </div></a>
        {% endfor %}

    </div>

    {% endblock %}

