{% extends 'base.html' %}

{% block form %}
{% endblock %}

{% block messages %}

    <div class="an">

        {% for anonc in announcement %}
            <a href="{{url_for('announsement', id_anons=anonc.id)}}" class="index_page"><div class="in_a">
                {% if img%}
                    <img src="{{ url_for('static', filename=anonc.images_announcements) }}"
                         alt="{{anonc.images_announcements}}">
                {% endif %}
                <h2>{{anonc.title}}</h2>
                <p>{{anonc.text[:50]}}</p>
                <h5>{{anonc.date}}</h5>
            </div></a>
        {% endfor %}

    </div>

    {% endblock %}


{% block error %}

{% endblock %}
