{% extends 'base.html' %}

{% block title %}
    {{title}}
{% endblock %}

{% block messages %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock %}

{% block form %}
    <div>
        <form method="post">
            <label>login</label><br>
            <input name="login" id="login"><br>
            <label>Email</label><br>
            <input name="email" id="email"><br>
            <label>password</label><br>
            <input name="password" id="password" type="password"><br>
            <label>Repeat password</label><br>
            <input name="password1" id="password1" type="password"><br>
            <input type="submit" value="Add">
        </form>
    </div>
{% endblock %}

{% block test %}
    {% for user in users %}
        <ul>
            <li>{{user.login}}</li>
        </ul>
    {% endfor %}
{% endblock %}

{% block error %}
    {{error}}
{% endblock %}


